{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-console": "off",
        "no-plusplus": "off",
        "no-shadow": "off",
        "no-continue": "off",
        "no-unused-vars": "off",
        "no-restricted-syntax": "off",
        "guard-for-in": "off"
        
    }
}