$primary-color:#153aa0;
$font-color-black:#000;
$font-color-white:#fff;


$button-bgcolor-active:#2656d8;
$button-bgcolor-deactive:#a2a2a3;
$button-bgcolor-hover:#1f49bd;

$item-close:#817e7e;
$item-open:#e4e0e0;
$item-hover:#c3b9b9;
$item-mine:#da1414;

$font-size-title: 4rem;
$font-size-desc: 2.1rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.5rem;

